.login{
height: 100vh;
background-color: #11AFD3;
display: flex;
align-items: center;
justify-content: center;

    .card{
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 400px;
        overflow: hidden;

        .left{
            flex: 1;
            background: linear-gradient(#bd1bee41,#2B3233), url("https://images.pexels.com/photos/4622206/pexels-photo-4622206.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load") 
                center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1{
                font-size: 60px;
                line-height: 60px;
            }
            p{}
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rebeccapurple;
            }
        }

        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
                color: #2B3233;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #11AFD3;
                    color: white;
                    
                }
            }
        }
    }
}